header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  background-color: #ffffff;
  color: #fff;
  box-shadow: 2px 2px 7px rgba(198, 198, 198, 0.666);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;
  box-sizing: border-box; /* Ensure padding and width don't cause overflow */
  overflow-x: hidden; /* Prevent horizontal scroll */
}

#title-web {
  font-family: cursive;
  margin-left: 15px;
}

.logo h2 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Ensure items wrap if they overflow */
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: purple;
  font-size: 18px;
}

.buttons {
  display: flex;
  flex-wrap: wrap; /* Ensure buttons wrap if they overflow */
}

.buttons button {
  margin-left: 10px;
  background-color: purple;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.buttons button:hover {
  background-color: rgb(117, 1, 117);
}

a#logo {
  text-decoration: none;
}

a#logo h2 {
  font-size: 27px;
}

header nav ul li:hover a {
  color: rgb(99, 0, 99);
}

button a {
  text-decoration: none;
  color: white;
}

button a:hover {
  color: white;
}

  
  